:root {
  --width: calc(clamp(300px, 100vw, 380px) - 20px);
  --px: calc(var(--width) / 380);
  --unit: calc(0.01 * var(--width));
}

body {
  background-color: #8babf3;
  margin: 10px;
}

.center {
  width: var(--width);
  margin: auto;
}

.winner, .user, .lobby, .links {
  margin: 0 var(--unit) var(--unit) 0;
}

@font-face {
  font-family: "Caracteres L1";
  src: local("Caracteres L1"), url("Caracteres L1.ttf") format("truetype");
}
