.image {
  position: relative;
  aspect-ratio: 380 / 180;
  border-radius: 5px;
  overflow: hidden;
}

.image img {
  position: absolute;
  /* Crop away the 1 pixel border */
  width: calc(100% * 382 / 380);
  height: calc(100% * 182 / 180);
  left: calc(-100% * 1 / 380);
  top: calc(-100% * 1 / 180);
}

.image span {
  position: absolute;
  left: calc(3 * var(--unit));
  bottom: calc(3 * var(--unit));
  padding: 0 var(--unit);
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: calc(7 * var(--unit));
  font-family: "Caracteres L1";
  overflow: visible;
  white-space: nowrap;
  pointer-events: none;
}
